#
# Copyright (C) 2022 Nethesis S.r.l.
# SPDX-License-Identifier: GPL-3.0-or-later
#

[Unit]
Description=Podman  affine-app.service
BindsTo=affine.service
After=affine.service postgresql-app.service redis-app.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%S/state/environment
EnvironmentFile=-%S/state/smarthost.env
WorkingDirectory=%S/state
Restart=always
TimeoutStopSec=70
ExecStartPre=/bin/mkdir -p config
ExecStartPre=/bin/rm -f %t/affine-app.pid %t/affine-app.ctr-id
ExecStartPre=-runagent discover-smarthost
ExecStart=/usr/bin/podman run --conmon-pidfile %t/affine-app.pid \
    --cidfile %t/affine-app.ctr-id --cgroups=no-conmon \
    --pod-id-file %t/affine.pod-id --replace -d --name  affine-app \
    -v %S/bin/node:/node:Z \
    --volume affine-config:/root/.affine/config/:Z \
    --volume affine-storage:/root/.affine/storage/:Z \
    --env-file=%S/state/app.env \
    ${AFFINE_GRAPHQL_IMAGE} sh -c "node ./scripts/self-host-predeploy && node ./dist/index.js"
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/affine-app.ctr-id -t 10
ExecReload=/usr/bin/podman kill -s HUP affine-app
SyslogIdentifier=%u
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/affine-app.ctr-id
PIDFile=%t/affine-app.pid
Type=forking

[Install]
WantedBy=default.target
